# .coveragerc
[run]
source = src
omit =
    */__init__.py
    tests/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    raise AssertionError
    raise NotImplementedError
    logger.debug
    logger.info
    logger.warning
    logger.error
    logger.critical
    logger.exception
    pass

[html]
directory = coverage_html
